.card-container {
  background-color: yellow;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.App {
  text-align: center;
}

body {
  background: #eeeeee;
  font-family: sans-serif;
}

.row {
  display: flex;
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
  border-bottom: 4px solid orangered;
}

.TotalConfirmed,
.TotalDeaths,
.TotalRecovered {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.TotalConfirmed {
  color: orange;
}
.TotalDeaths {
  color: red;
}
.TotalRecovered {
  color: green;
}

table {
  border-collapse: separate;
  width: 80%;
  margin: 0 auto;
  border-spacing: 0 12px;
}

table thead th {
  background: #a39898;
  border-bottom: 4px solid blueviolet;
}

table thead th {
  padding: 18px 12px;
  text-align: left;
}

table tbody tr {
  background: yellowgreen;
}

table tbody tr td {
  padding: 18px 12px;
  text-align: left;
}
